<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="row justify-content-center w-100">
    <div class="col-md-4 col-sm-8">
      <div class="card shadow-sm p-4 border-0">
        <h3 class="text-center mb-4 fw-normal">Sistema de Caja</h3>

        <form (ngSubmit)="onLogin()">
          <div class="mb-3">
            <label class="form-label text-secondary">Usuario</label>
            <input
              type="text"
              [(ngModel)]="username"
              name="username"
              class="form-control form-control-lg"
              placeholder="Ingrese su usuario"
              required
            />
          </div>

          <div class="mb-4">
            <label class="form-label text-secondary">Contraseña</label>
            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              class="form-control form-control-lg"
              placeholder="••••"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary w-100 py-2 fs-5">
            Ingresar
          </button>
        </form>

        <!-- Mensaje de Alerta en Rojo al fallar inicio de sesión -->
        <div *ngIf="errorMessage" class="alert alert-danger text-center mt-3 mb-0 shadow-sm" role="alert">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
